{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<a href="{{ path('file_to_upload_new') }}">Upload</a>
<a href="{{ path('category_index') }}">Categories</a>
{% endblock %}
